/*General Styles*/

.card {
  position: absolute;
  background-color: rgb(27 25 25);
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: 70fr 2fr 885fr;
  grid-template-columns: 1fr;
  grid-template-areas:
    "header"
    "line"
    "body";
  z-index: 1;
}

.card_header {
  grid-area: header;
  font-weight: 600;
  font-size: large;
  color: rgb(177, 169, 169);
  display: flex;
  align-items: center;
  justify-content: center;
}

.card_decorLine {
  grid-area: line;
  position: absolute;
  left: 18px;
  right: 18px;
  border-color: rgb(111, 171, 245);
}

.card_body {
  grid-area: body;
  position: absolute;
  width: 100%;
  height: 80%;
  padding-top: 20px;
}

/* Room - card body Layout*/

.card_body.room {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  justify-items: center;
  align-items: center;
}

/*Wheather - card body Layout*/

.card_body.wheather {
  display: grid;
  height: 70%;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 7fr 1fr 1fr 1fr 1fr;
  justify-items: center;
  grid-template-areas:
    "temp img"
    "br br"
    "hum hum"
    "rain rain"
    "wind rains";
}

.temperaturValue {
  grid-area: temp;
  font-size: 65px;
}

.wheatherImage {
  grid-area: img;
  margin-top: 60px;
  width: 150px;
  height: 150px;
}

.wheatherLabel {
  position: absolute;
  left: 30px;
}
.wheatherLabel.brightness {
  grid-area: br;
}

.wheatherLabel.humidity {
  grid-area: hum;
}

.wheatherLabel.rain {
  grid-area: rain;
}

.wheatherLabel.wind {
  grid-area: wind;
}

/*RGB - card body Layout*/

.card_body.rgb {
  display: grid;
  height: 80%;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  justify-items: center;
  grid-template-areas:
    "sliders"
    "effects";
}

.rgbSliderContainer {
  grid-area: sliders;
  display: grid;
  width: 80%;
  height: 80%;
  grid-template-columns: 1fr 4fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  justify-items: center;
  align-items: center;
}

/*General - card body Layout*/
.card_body.general {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  justify-items: center;
  align-items: center;
}

/*History - card body Layout*/
.card_body.history {
  height: 85%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 6fr;
  justify-items: center;
  align-items: center;
  grid-template-areas:
    "ddown"
    "log";
}
